*,
html,
body {
  padding: 0;
  margin: 0;
}


article {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}

.stripe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 700px;
  height: 120px;
  animation-duration: 1s;
  background-size: 100% 400%;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: background-transition;

  &:nth-of-type(1) {
    height: 60px;
    background-image: linear-gradient(#cb1709, #e44847);
  }

  &:nth-of-type(2) {
    background-image: linear-gradient(#cb6415, #e4962a);
  }

  &:nth-of-type(3) {
    background-image: linear-gradient(#cbcb01, #e4e066);
  }

  &:nth-of-type(4) {
    background-image: linear-gradient(#1bcb03, #7be464);
  }

  &:nth-of-type(5) {
    background-image: linear-gradient(#042bcb, #3a48cb);
  }

  &:nth-of-type(6) {
    height: 60px;
    background-image: linear-gradient(#c502c6, #ea62f2);
  }
}

@keyframes background-transition {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 100%;
  }
}

.example-2 {
  width: 700px;
  height: 600px;
  background-color: #760540;
}

.example-3 {
  width: 700px;
  height: 600px;
  background-color: #C00782;
}
