@import "./mixins";

.svg-1 {
  display: block;
  margin: 50px auto;
  width: 700px;
  height: 700px;
  background-image: linear-gradient(to right, #e12fbd 0%, #e12fbd 50%, #ec2722 50%);
  animation-name: background-color-change;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  background-size: 200% 100%;


  .img-wrapper {
    transform: translateX(275px) translateY(240px);
  }

  .letter-u {
    transform: translateX(150px) translateY(50px);
  }

  .letter-n {
    transform: translateX(250px) translateY(50px);
  }

  .letter-i {
    transform: translateX(340px) translateY(50px);
  }

  .letter-o {
    transform: translateX(400px) translateY(50px);
  }

  .letter-r {
    transform: translateX(500px) translateY(50px);
  }

  .wave {
    transform: translateX(100px) translateY(120px);
    fill: #ffeb3b;
  }


  .img-face-1 {
    @include animation-mixin(face-rotate, .45s, ease-in-out);
    width: 400px;
    height: 400px;
    transform-origin: 200px 450px;
  }

  .star {
    fill: #6dcbb7;

    .star-path {
      @include animation-mixin(star-rotate, .3s);
      position: absolute;
      transform-origin: 90px 90px;
    }

    &.s1 {
      transform: translateX(50px) translateY(30px) scale(.7);
      position: relative;
    }

    &.s2 {
      transform: translateX(200px) translateY(150px) scale(.45);
    }

    &.s3 {
      transform: translateX(30px) translateY(300px) scale(.45);
    }

    &.s4 {
      transform: translateX(120px) translateY(360px) scale(.7);
    }

    &.s5 {
      transform: translateX(730px) translateY(30px) scale(.7);
    }

    &.s6 {
      transform: translateX(810px) translateY(170px) scale(.4);
    }

    &.s7 {
      transform: translateX(730px) translateY(250px) scale(.4);
    }

  }
}

.letters {
  fill: transparent;
  transform: translateX(110px) translateY(630px);

  &.back-ground-3 {
    .letter-move {
      animation-name: letter-move-bg3;

      &.delay-05 {
        animation-delay: .25s;
      }

      &.delay-10 {
        animation-delay: .55s;
      }

      &.delay-15 {
        animation-delay: 1.45s;
      }

      &.delay-20 {
        animation-delay: 2.05s;
      }

      &.delay-25 {
        animation-delay: 2.65s;
      }

      &.delay-30 {
        animation-delay: 3.25s;
      }

    }
  }

  &.back-ground-2 {
    .letter-move {
      animation-name: letter-move-bg2;

      &.delay-05 {
        animation-delay: .35s;
      }

      &.delay-10 {
        animation-delay: .95s;
      }

      &.delay-15 {
        animation-delay: 1.55s;
      }

      &.delay-20 {
        animation-delay: 2.15s;
      }

      &.delay-25 {
        animation-delay: 2.75s;
      }

      &.delay-30 {
        animation-delay: 3.35s;
      }
    }
  }

  &.back-ground-1 {
    .letter-move {
      animation-name: letter-move-bg1;

      &.delay-05 {
        animation-delay: .45s;
      }

      &.delay-10 {
        animation-delay: 1.05s;
      }

      &.delay-15 {
        animation-delay: 1.65s;
      }

      &.delay-20 {
        animation-delay: 2.25s;
      }

      &.delay-25 {
        animation-delay: 2.85s;
      }

      &.delay-30 {
        animation-delay: 3.45s;
      }
    }
  }

  .letter-move {
    animation-name: letter-move;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;

    &.delay-05 {
      animation-delay: .55s;
    }

    &.delay-10 {
      animation-delay: 1.15s;
    }

    &.delay-15 {
      animation-delay: 1.75s;
    }

    &.delay-20 {
      animation-delay: 2.35s;
    }

    &.delay-25 {
      animation-delay: 2.95s;
    }

    &.delay-30 {
      animation-delay: 3.55s;
    }
  }

}


@keyframes background-color-change {
  0% {
    background-position: 0 0;
  }

  49.99% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  99.99% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes star-rotate {

  0% {
    transform: rotateZ(-45deg);
  }

  100% {
    transform: rotateZ(45deg);
  }
}

@keyframes face-rotate {

  0% {
    transform: rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(15deg);
  }
}


@keyframes letter-move {

  0% {
    fill: rgba(255, 235, 59, 0);
    //fill: rgba(255, 235, 59, 1);
    transform: translateX(-300px);
  }

  20% {
    fill: rgba(255, 235, 59, .3);
    //fill: rgba(255, 235, 59, 1);
  }

  100% {
    fill: rgba(255, 235, 59, 1);
  }
}

@keyframes letter-move-bg1 {

  0% {
    //fill: rgba(239, 138, 13, 1);
    fill: rgba(239, 138, 13, 0);
    transform: translateX(-300px);
  }

  20% {
    //fill: rgba(239, 138, 13, 1);
    fill: rgba(239, 138, 13, .3);
  }

  100% {
    fill: rgba(239, 138, 13, 1);
  }
}

@keyframes letter-move-bg2 {

  0% {
    fill: rgba(194, 85, 22, 0);
    //fill: rgba(194, 85, 22, 1);
    transform: translateX(-300px);
  }

  20% {
    //fill: rgba(194, 85, 22, 1);
    fill: rgba(194, 85, 22, .3);
  }

  100% {
    fill: rgba(194, 85, 22, 1);
  }
}


@keyframes letter-move-bg3 {

  0% {
    //fill: rgba(152, 51, 26,1);
    fill: rgba(152, 51, 26, 0);
    transform: translateX(-300px);
  }

  20% {
    fill: rgba(152, 51, 26, .3);
    //fill: rgba(152, 51, 26,1);
  }

  100% {
    fill: rgba(152, 51, 26, 1);
  }
}
