@import "./mixins";

.svg-1 {
  display: block;
  margin: 50px auto;
  width: 700px;
  height: 700px;
  overflow: hidden;
  background-color: green;

  &.junior,
  &.senior {

    .title-container {
      display: none;
    }


    .letters {
      display: block;
    }

    .stars-container {
      display: block;
    }

    .waves {
      display: block;
    }
  }

  &.senior {
    background-color: #ec2722;

    .letter-s,
    .letter-e {
      display: block;
    }

    .letter-j,
    .letter-u {
      display: none;
    }

    .senior-container {
      display: block;
    }

  }

  &.junior {
    background-color: #e12fbd;

    .letter-s,
    .letter-e {
      display: none;
    }

    .letter-j,
    .letter-u {
      display: block;
    }

    .junior-container {
      display: block;
    }

  }

  .img-wrapper {
    transform: translateX(190px) translateY(110px);
  }

  .letter-u {
    transform: translateX(150px) translateY(50px);
  }

  .letter-n {
    transform: translateX(250px) translateY(50px);
  }

  .letter-i {
    transform: translateX(340px) translateY(50px);
  }

  .letter-o {
    transform: translateX(400px) translateY(50px);
  }

  .letter-r {
    transform: translateX(500px) translateY(50px);
  }

  .waves {
    display: none;
    transform: translateX(210px) translateY(750px);
  }

  .wave {

    &.w1 {
      fill: rgba(152, 51, 26, 1);
      clip-path: url("#box-clip");
    }

    &.w2 {
      fill: rgba(194, 85, 22, 1);
      clip-path: url("#box-clip-2");
    }

    &.w3 {
      fill: rgba(239, 138, 13, 1);
      clip-path: url("#box-clip-3");
    }

    &.w4 {
      fill: rgba(255, 235, 59, 1);
      clip-path: url("#box-clip-4");
    }

  }

  .box-clip-rect {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: resize-x-axis;

    &.delay-015 {
      animation-delay: 250ms;
    }

    &.delay-030 {
      animation-delay: 450ms;
    }

    &.delay-045 {
      animation-delay: 650ms;
    }

  }


  .img-face-1 {
    @include animation-mixin(face-rotate, .45s, ease-in-out);
    transform-origin: 250px 600px;
  }

  .img-face-2 {
    @include animation-mixin(face-rotate-2, 1s, ease-in-out);
    transform-origin: 250px 250px;
  }

  .star-path {
    @include animation-mixin(star-rotate, .3s);
    transform-origin: 90px 90px;
  }

  .star {
    fill: #6dcbb7;

    &.s1 {
      transform: translateX(50px) translateY(30px) scale(.55);
    }

    &.s2 {
      transform: translateX(120px) translateY(160px) scale(.25);
    }

    &.s3 {
      transform: translateX(30px) translateY(220px) scale(.25);
    }

    &.s4 {
      transform: translateX(50px) translateY(330px) scale(.55);
    }

    &.s5 {
      transform: translateX(730px) translateY(30px) scale(.55);
    }

    &.s6 {
      transform: translateX(830px) translateY(150px) scale(.25);
    }

    &.s7 {
      transform: translateX(760px) translateY(200px) scale(.25);
    }

  }
}

.letters {
  display: none;
  fill: transparent;
  transform: translateX(110px) translateY(630px);

  .letter-s {
    transform: translateX(20px) translateY(-30px);
  }


  .letter-e {
    transform: translateX(160px) translateY(50px);
  }

  &.back-ground-3 {
    .letter-move {
      animation-name: letter-move-bg3;

      &.delay-05 {
        animation-delay: .25s;
      }

      &.delay-10 {
        animation-delay: .55s;
      }

      &.delay-15 {
        animation-delay: 1.45s;
      }

      &.delay-20 {
        animation-delay: 2.05s;
      }

      &.delay-25 {
        animation-delay: 2.65s;
      }

      &.delay-30 {
        animation-delay: 3.25s;
      }

    }
  }

  &.back-ground-2 {
    .letter-move {
      animation-name: letter-move-bg2;

      &.delay-05 {
        animation-delay: .35s;
      }

      &.delay-10 {
        animation-delay: .95s;
      }

      &.delay-15 {
        animation-delay: 1.55s;
      }

      &.delay-20 {
        animation-delay: 2.15s;
      }

      &.delay-25 {
        animation-delay: 2.75s;
      }

      &.delay-30 {
        animation-delay: 3.35s;
      }
    }
  }

  &.back-ground-1 {
    .letter-move {
      animation-name: letter-move-bg1;


      &.delay-05 {
        animation-delay: .45s;
      }

      &.delay-10 {
        animation-delay: 1.05s;
      }

      &.delay-15 {
        animation-delay: 1.65s;
      }

      &.delay-20 {
        animation-delay: 2.25s;
      }

      &.delay-25 {
        animation-delay: 2.85s;
      }

      &.delay-30 {
        animation-delay: 3.45s;
      }
    }
  }

  .letter-move {
    animation-name: letter-move;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;

    &.delay-05 {
      animation-delay: .55s;
    }

    &.delay-10 {
      animation-delay: 1.15s;
    }

    &.delay-15 {
      animation-delay: 1.75s;
    }

    &.delay-20 {
      animation-delay: 2.35s;
    }

    &.delay-25 {
      animation-delay: 2.95s;
    }

    &.delay-30 {
      animation-delay: 3.55s;
    }
  }

}

.junior-container {
  display: none;
}

.senior-container {
  display: none;
}

.stars-container {
  display: none;
}

.title-container {

  .text {
    font-size: 75px;
    fill: darkviolet;
    text-transform: uppercase;
    transform: translateX(194px) translateY(550px);
    font-family: "vt323", monospace;
  }

  .rect-title {
    transform: translateX(100px) translateY(450px);
    width: 700px;
    height: 150px;
    fill: goldenrod;
    border-radius: 10px;
    border: 10px solid black;
    stroke-width: 4px;
    stroke: black;
  }

  .title-junior {
    transform-origin: 250px 250px;
    transform: translateX(460px) translateY(-50px) scale(.6) rotateZ(30deg);
  }

  .title-senior {
    transform-origin: 250px 250px;
    transform: translateX(-50px) translateY(-50px) scale(.6) rotateZ(-30deg);
  }
}


@keyframes star-rotate {

  0% {
    transform: rotateZ(-45deg);
  }

  100% {
    transform: rotateZ(45deg);
  }
}

@keyframes face-rotate {

  0% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes face-rotate-2 {

  0% {
    transform: rotateX(-30deg);
  }

  100% {
    transform: rotateX(30deg);
  }
}


@keyframes letter-move {

  0% {
    fill: rgba(255, 235, 59, 0);
    transform: translateX(-300px);
  }

  20% {
    fill: rgba(255, 235, 59, .3);
  }

  100% {
    fill: rgba(255, 235, 59, 1);
  }
}

@keyframes letter-move-bg1 {

  0% {
    fill: rgba(239, 138, 13, 0);
    transform: translateX(-300px);
  }

  20% {
    fill: rgba(239, 138, 13, .3);
  }

  100% {
    fill: rgba(239, 138, 13, 1);
  }
}

@keyframes letter-move-bg2 {

  0% {
    fill: rgba(194, 85, 22, 0);
    transform: translateX(-300px);
  }

  20% {
    fill: rgba(194, 85, 22, .3);
  }

  100% {
    fill: rgba(194, 85, 22, 1);
  }
}


@keyframes letter-move-bg3 {

  0% {
    fill: rgba(152, 51, 26, 0);
    transform: translateX(-300px);
  }

  20% {
    fill: rgba(152, 51, 26, .3);
  }

  100% {
    fill: rgba(152, 51, 26, 1);
  }
}

@keyframes resize-x-axis {

  0% {
    height: 700px;
    width: 0;
    transform: rotateZ(0) translateX(-200px);
  }

  20% {
    height: 700px;
    width: 710px;
    transform: rotateZ(-20deg) translateX(-200px);
  }

  100% {
    height: 700px;
    width: 710px;
    transform: rotateZ(-20deg) translateX(-200px);
  }

}
