@import "./mixins";

.svg-1 {
  display: block;
  margin: 50px auto;
  width: 700px;
  height: 700px;
  overflow: hidden;
  background-image: linear-gradient(to right, #e12fbd 0%, #e12fbd 50%, #ec2722 50%);
  animation-name: background-color-change;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  background-size: 200% 100%;


  .img-wrapper {
    transform: translateX(190px) translateY(110px);
  }

  .letter-u {
    transform: translateX(150px) translateY(50px);
  }

  .letter-n {
    transform: translateX(250px) translateY(50px);
  }

  .letter-i {
    transform: translateX(340px) translateY(50px);
  }

  .letter-o {
    transform: translateX(400px) translateY(50px);
  }

  .letter-r {
    transform: translateX(500px) translateY(50px);
  }

  .waves {
    transform: translateX(210px) translateY(750px);
  }

  .wave {

    &.w1 {
      clip-path: url("#box-clip");
      fill: rgba(152, 51, 26, 1);
    }

    &.w2 {
      clip-path: url("#box-clip-2");
      fill: rgba(194, 85, 22, 1);
    }

    &.w3 {
      clip-path: url("#box-clip-3");
      fill: rgba(239, 138, 13, 1);
    }

    &.w4 {
      clip-path: url("#box-clip-4");
      fill: rgba(255, 235, 59, 1);
    }

  }

  .box-clip-rect {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-name: resize-x-axis;

    &.delay-015 {
      animation-delay: 250ms;
    }

    &.delay-030 {
      animation-delay: 450ms;
    }

    &.delay-045 {
      animation-delay: 650ms;
    }

  }


  .img-face-1 {
    @include animation-mixin(face-rotate, .45s, ease-in-out);
    transform-origin: 250px 600px;
  }

  .img-face-2 {
    @include animation-mixin(face-rotate-2, 1s, ease-in-out);
    transform-origin: 250px 250px;
  }

  .star-path {
    @include animation-mixin(star-rotate, .3s);
    transform-origin: 90px 90px;
  }

  .star {
    fill: #6dcbb7;

    &.s1 {
      transform: translateX(50px) translateY(30px) scale(.55);
    }

    &.s2 {
      transform: translateX(120px) translateY(160px) scale(.25);
    }

    &.s3 {
      transform: translateX(30px) translateY(220px) scale(.25);
    }

    &.s4 {
      transform: translateX(50px) translateY(330px) scale(.55);
    }

    &.s5 {
      transform: translateX(730px) translateY(30px) scale(.55);
    }

    &.s6 {
      transform: translateX(830px) translateY(150px) scale(.25);
    }

    &.s7 {
      transform: translateX(760px) translateY(200px) scale(.25);
    }

  }
}

.letters {
  fill: transparent;
  transform: translateX(110px) translateY(630px);

  &.back-ground-3 {
    .letter-move {
      animation-name: letter-move-bg3;

      &.delay-05 {
        animation-delay: .25s;
      }

      &.delay-10 {
        animation-delay: .55s;
      }

      &.delay-15 {
        animation-delay: 1.45s;
      }

      &.delay-20 {
        animation-delay: 2.05s;
      }

      &.delay-25 {
        animation-delay: 2.65s;
      }

      &.delay-30 {
        animation-delay: 3.25s;
      }

    }
  }

  &.back-ground-2 {
    .letter-move {
      animation-name: letter-move-bg2;

      &.delay-05 {
        animation-delay: .35s;
      }

      &.delay-10 {
        animation-delay: .95s;
      }

      &.delay-15 {
        animation-delay: 1.55s;
      }

      &.delay-20 {
        animation-delay: 2.15s;
      }

      &.delay-25 {
        animation-delay: 2.75s;
      }

      &.delay-30 {
        animation-delay: 3.35s;
      }
    }
  }

  &.back-ground-1 {
    .letter-move {
      animation-name: letter-move-bg1;

      &.delay-05 {
        animation-delay: .45s;
      }

      &.delay-10 {
        animation-delay: 1.05s;
      }

      &.delay-15 {
        animation-delay: 1.65s;
      }

      &.delay-20 {
        animation-delay: 2.25s;
      }

      &.delay-25 {
        animation-delay: 2.85s;
      }

      &.delay-30 {
        animation-delay: 3.45s;
      }
    }
  }

  .letter-move {
    animation-name: letter-move;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: none;

    &.delay-05 {
      animation-delay: .55s;
    }

    &.delay-10 {
      animation-delay: 1.15s;
    }

    &.delay-15 {
      animation-delay: 1.75s;
    }

    &.delay-20 {
      animation-delay: 2.35s;
    }

    &.delay-25 {
      animation-delay: 2.95s;
    }

    &.delay-30 {
      animation-delay: 3.55s;
    }
  }

}

.junior-container {
  display: block;
  //animation-name: change-display;
  //animation-duration: 12s;
  //animation-timing-function: linear;
  //animation-direction: normal;
  //animation-iteration-count: infinite;
}

.senior-container {
  display: none;
  animation-name: change-display;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes change-display {
  0% {
    opacity: 1;
  }

  49.99% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}


@keyframes background-color-change {
  0% {
    background-position: 0 0;
  }

  49.99% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  99.99% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes star-rotate {

  0% {
    transform: rotateZ(-45deg);
  }

  100% {
    transform: rotateZ(45deg);
  }
}

@keyframes face-rotate {

  0% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes face-rotate-2 {
  0% {
    transform: rotateX(-30deg);
  }

  100% {
    transform: rotateX(30deg);
  }
}


@keyframes letter-move {

  0% {
    fill: rgba(255, 235, 59, 0);
    transform: translateX(-300px);
  }

  1% {
    fill: rgba(255, 235, 59, .3);
    transform: translateX(0);
  }

  5% {
    fill: rgba(255, 235, 59, 1);
    transform: translateX(0);
  }
  50% {
    fill: rgba(255, 235, 59, 1);
    transform: translateX(0);
  }
  50.000001% {
    fill: rgba(255, 235, 59, 0);
    transform: translateX(-300px);
  }
  100% {
    fill: rgba(255, 235, 59, 0);
    transform: translateX(-300px);
  }
}

@keyframes letter-move-bg1 {

  0% {
    fill: rgba(239, 138, 13, 0);
    transform: translateX(-300px);
  }

  1% {
    fill: rgba(239, 138, 13, .3);
    transform: translateX(0);
  }

  5% {
    fill: rgba(239, 138, 13, 1);
    transform: translateX(0);
  }
  50% {
    fill: rgba(239, 138, 13, 1);
    transform: translateX(0);
  }
  50.000001% {
    fill: rgba(239, 138, 13, 0);
    transform: translateX(-300px);
  }
  100% {
    fill: rgba(239, 138, 13, 0);
    transform: translateX(-300px);
  }



  //0% {
  //  fill: rgba(239, 138, 13, 0);
  //  transform: translateX(-300px);
  //}
  //
  //20% {
  //  fill: rgba(239, 138, 13, .3);
  //}
  //
  //100% {
  //  fill: rgba(239, 138, 13, 1);
  //}
}

@keyframes letter-move-bg2 {

  0% {
    fill: rgba(194, 85, 22, 0);
    transform: translateX(-300px);
  }

  20% {
    fill: rgba(194, 85, 22, .3);
  }

  100% {
    fill: rgba(194, 85, 22, 1);
  }
}


@keyframes letter-move-bg3 {

  0% {
    fill: rgba(152, 51, 26, 0);
    transform: translateX(-300px);
  }

  20% {
    fill: rgba(152, 51, 26, .3);
  }

  100% {
    fill: rgba(152, 51, 26, 1);
  }
}

@keyframes resize-x-axis {

  0% {
    height: 700px;
    width: 0;
    transform: rotateZ(0) translateX(-200px);
  }

  20% {
    height: 700px;
    width: 710px;
    transform: rotateZ(-20deg) translateX(-200px);
  }

  100% {
    height: 700px;
    width: 710px;
    transform: rotateZ(-20deg) translateX(-200px);
  }

}
