@mixin animation-mixin($animation-name, $animation-duration: 4s, $animation-timing-function: linear) {
  animation-name: $animation-name;
  animation-duration: $animation-duration;
  animation-timing-function: $animation-timing-function;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
